body {
  margin: 0;
  padding: 0;
}

.boxOfQuestion {
    margin: auto;
    width: 50%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15);
    padding: 30px;
}
